name: {{ conf.name }}
image:
  hostname: {{ conf.hostname | default('localhost') }}
  selinux_mode: {{ conf.selinux.state | default('enforcing') }}

{% if conf.build.kernel_version is defined %}
kernel:
  kernel_version: {{ conf.build.kernel_version }}
{% endif %}

content:
{% if osbuild.mpp_vars.extra_repos is defined %}
  repos:
    {{ osbuild.mpp_vars.extra_repos | to_nice_yaml(indent=2) | indent(4) -}}
{% endif %}
{% if osbuild.mpp_vars.extra_rpms is defined %}
  rpms:
    {{ osbuild.mpp_vars.extra_rpms | to_nice_yaml(indent=2) | indent(4) -}}
{% endif %}
{% if osbuild.containers %}
  container_images:
    {{ osbuild.containers | to_nice_yaml(indent=2, sort_keys=False) | indent(4) -}}
{% endif %}
{% if osbuild.extra_contents.directories is defined %}
  make_dirs:
    {{ osbuild.extra_contents.directories | to_nice_yaml(indent=2, sort_keys=False) | indent(4) -}}
{% endif %}
{% if osbuild.extra_contents.add_files is defined %}
  add_files:
    {{ osbuild.extra_contents.add_files | to_nice_yaml(indent=2, sort_keys=False) | indent(4) -}}
{% endif %}
{% if osbuild.chmod %}
  chmod_files:
{% for path, opts in osbuild.chmod.items() %}
    - path: {{ path }}
      {{ opts | to_nice_yaml(indent=2) | indent(6) -}}
{% endfor -%}
{% endif %}
{% if osbuild.chown %}
  chown_files:
{% for path, opts in osbuild.chown.items() %}
    - path: {{ path }}
      {{ opts | to_nice_yaml(indent=2) | indent(6) -}}
{% endfor -%}
{% endif %}
{% if osbuild.extra_contents.delete is defined %}
  remove_files:
{% for path in osbuild.extra_contents.delete %}
    - path: {{ path }}
{% endfor -%}
{% endif %}
{% if osbuild.systemd %}
  systemd:
    {{ osbuild.systemd | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}

{% if osbuild.has_qm %}
qm:
  content:
{% if osbuild.mpp_vars.qm_extra_repos is defined %}
    repos:
      {{ osbuild.mpp_vars.qm_extra_repos | to_nice_yaml(indent=2) | indent(6) -}}
{% endif %}
{% if osbuild.mpp_vars.qm_extra_rpms is defined %}
    rpms:
      {{ osbuild.mpp_vars.qm_extra_rpms | to_nice_yaml(indent=2) | indent(6) -}}
{% endif %}
{% if osbuild.qm_containers %}
    container_images:
      {{ osbuild.qm_containers | to_nice_yaml(indent=2, sort_keys=False) | indent(6) -}}
{% endif %}
{% if osbuild.qm_extra_contents.directories is defined %}
    make_dirs:
      {{ osbuild.qm_extra_contents.directories | to_nice_yaml(indent=2, sort_keys=False) | indent(6) -}}
{% endif %}
{% if osbuild.qm_extra_contents.add_files is defined %}
    add_files:
      {{ osbuild.qm_extra_contents.add_files | to_nice_yaml(indent=2, sort_keys=False) | indent(6) -}}
{% endif %}
{% if osbuild.qm_chmod %}
    chmod_files:
{% for path, opts in osbuild.qm_chmod.items() %}
      - path: {{ path }}
        {{ opts | to_nice_yaml(indent=2) | indent(8) -}}
{% endfor -%}
{% endif %}
{% if osbuild.qm_chown %}
    chown_files:
{% for path, opts in osbuild.qm_chown.items() %}
      - path: {{ path }}
        {{ opts | to_nice_yaml(indent=2) | indent(8) -}}
{% endfor -%}
{% endif %}
{% if osbuild.qm_extra_contents.delete is defined %}
    remove_files:
{% for path in osbuild.qm_extra_contents.delete %}
      - path: {{ path }}
{% endfor -%}
{% endif %}
{% if osbuild.qm_systemd %}
    systemd:
      {{ osbuild.qm_systemd | to_nice_yaml(indent=2) | indent(6) -}}
{% endif %}
{% endif %}

{% if osbuild.groups or osbuild.users %}
auth:
{% if osbuild.groups %}
  groups:
    {{ osbuild.groups | to_nice_yaml(indent=2) | indent(4) -}}
{% endif %}
{% if osbuild.users %}
  users:
    {{ osbuild.users | to_nice_yaml(indent=2) | indent(4) -}}
{% endif %}
{% endif %}
