{%- if item.app_id is undefined %}
    {%- set container = conf.containers[item.container_id] %}
{%- else %}
    {%- set container = conf.apps[item.app_id].containers[item.container_id] %}
{%- endif %}
[Unit]
{% for key, value in container.systemd.unit.items() %}
{% if value is string or value is boolean %}
{{ key | sd_pascal_case }}={{ value }}
{% else %}
{% for item in value %}
{{ key | sd_pascal_case }}={{ item }}
{% endfor %}
{% endif %}
{% endfor %}

{% set _ = container.systemd.pop("unit") %}
{% for section in container.systemd.keys() %}
[{{ section | sd_pascal_case }}]
{% for key, value in container.systemd[section].items() %}
{% if value is string or value is boolean %}
{{ key | sd_pascal_case }}={{ value }}
{% else %}
{% for item in value %}
{{ key | sd_pascal_case }}={{ item }}
{% endfor %}
{% endif %}
{% endfor %}
{% if (section | sd_pascal_case == "Container") and (item.app_id is defined) %}
PodmanArgs=--pull=never --storage-opt=overlay.additionalimagestore={{ item.image_storage_path }}
{% endif %}

{% endfor %}
