#!/usr/bin/env bash
set -e

SCRIPT=$(realpath "$0")
BASEDIR=$(dirname "$SCRIPT")
CONTAINERS_SRC_DIR="$BASEDIR/files/{{ conf.name }}/containers"
CONTAINERS_BASE_DIR=$BASEDIR/.containers
CONTAINERS_CONF=$CONTAINERS_BASE_DIR/containers.conf
CONTAINERS_STORAGE_DIR=$CONTAINERS_BASE_DIR/storage
CONTAINERS_STORAGE_CONF=$CONTAINERS_BASE_DIR/storage.conf
COMPOSE_CONTAINERS_SRC_DIR="$BASEDIR/compose/services"

# Create .containers directories
mkdir -p "$CONTAINERS_STORAGE_DIR"
chcon -t container_var_lib_t "$CONTAINERS_STORAGE_DIR"

# Create $BASE/.containers/containers.conf
cat <<EOF > "$CONTAINERS_CONF"
[engine]
cgroup_manager = "cgroupfs"
compose_warning_logs = false
EOF

# Create $BASE/.containers/storage.conf
cat <<EOF > "$CONTAINERS_STORAGE_CONF"
[storage]
driver = "overlay"
runroot = "$CONTAINERS_BASE_DIR/run"
graphroot = "$CONTAINERS_BASE_DIR/storage"
rootless_storage_path = "$CONTAINERS_BASE_DIR/storage"
EOF

# Export CONTAINERS environment variables
export CONTAINERS_CONF="$CONTAINERS_CONF"
export CONTAINERS_STORAGE_CONF="$CONTAINERS_STORAGE_CONF"

{% for container in build.containers %}
{% if "container_context" not in container %}
# Pull "{{ container.id }}" container
podman pull {{ container.image_ref }}
{% endif %}
{% endfor %}

{%- for container in build.containers %}
{% if "container_context" in container %}
# Build "{{ container.id }}" container
podman build -t {{ container.image_ref }}
{%- if "extra_args" in container and container.extra_args|length > 0 %}{{ container.extra_args }}{% endif%}
{%- if "container_file" in container %} -f $CONTAINERS_SRC_DIR/{{ container.id }}}/{{ container_file }}{% endif%}
 $CONTAINERS_SRC_DIR/{{ container.id }}

{% endif %}
{% endfor %}

{%- if build.compose.containers is defined %}
{% for container in build.compose.containers %}
{% if container.build.src_dir is undefined %}
# Pull "{{ container.id }}" container (compose)
podman pull {{ container.image_ref }}

{% endif %}
{% endfor %}

{%- for container in build.compose.containers %}
{% if container.build.src_dir is defined %}
# Build "{{ container.id }}" container (compose)
podman build -t {{ container.image_ref }}
{%- if "container_file" in container %}  -f $COMPOSE_CONTAINERS_SRC_DIR/{{ container.id }}}/{{ container_file }} \{% endif%}
 $COMPOSE_CONTAINERS_SRC_DIR/{{ container.id }}

{% endif %}
{% endfor %}
{% endif %}
# Unmount container storage overlay
sudo umount $CONTAINERS_STORAGE_DIR/overlay 2> /dev/null || true
