#!/bin/bash

if [ "$#" -ne 1 ]
then
  echo "Path to the image file missing."
  exit 1
fi

image="$1"

qemu-system-x86_64 \
    -hda "${image}" \
    -enable-kvm -m 1G -smp 2 -cpu host \
    -display dbus,gl=on \
{% if conf.virtio_gpu is defined %}
    -device vhost-user-gpu-pci,chardev=char0,id=gpu \
    -chardev socket,id=char0,path={{ conf.virtio_gpu.socket }} \
    -object memory-backend-memfd,id=mem,size=512M,share=yes
{% else %}
    -device virtio-vga-gl
{% endif %}
