[storage]
driver = "overlay"
runroot = "{{ build_dir }}/{{ item.compose_containers_dir }}/run"
graphroot = "{{ build_dir }}/{{ item.compose_containers_dir }}/storage"
rootless_storage_path = "{{ build_dir }}/{{ item.compose_containers_dir }}/storage"
