[Unit]
Description=Wayland Session Creation Handling
After=systemd-user-sessions.service
Before=wayland.service

[Service]
Type=notify
NotifyAccess=main
Environment=XDG_SESSION_TYPE=wayland
UnsetEnvironment=TERM
ExecStart=/usr/bin/{{ conf.wayland.session.name }}
Restart=no

# Run the session as root (required by PAMName)
User={{ conf.xdg.user.name }}
Group={{ conf.xdg.user.group }}

# Set up a full user session for the user, required by Wayland.
PAMName=wayland-autologin

# Fail to start if not controlling the tty.
StandardInput=tty-fail

# Defaults to journal, in case it doesn't adjust it accordingly
StandardError=journal
StandardOutput=journal

# A virtual terminal is needed.
TTYPath=/dev/{{ conf.wayland.session.tty }}
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Log this user with utmp, letting it show up with commands 'w' and 'who'.
UtmpIdentifier={{ conf.wayland.session.tty }}
UtmpMode=user

[Install]
Alias="wayland-session.service"
WantedBy=graphical.target
