[Unit]
Description=Wayland socket
RequiresMountsFor=/run

[Socket]
ListenStream={{ conf.xdg.runtime_dir }}/{{ conf.wayland.display }}
SocketMode=0775
DirectoryMode=0700
SocketUser={{ conf.xdg.user.name }}
SocketGroup={{ conf.xdg.user.group }}
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
