receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:{{ conf.otelcol.qm.otlp_grpc_port }}
      http:
        endpoint: 0.0.0.0:{{ conf.otelcol.qm.otlp_http_port }}
        cors:
          allowed_origins:
            - "http://*"
            - "https://*"
  prometheus:
    config:
      scrape_configs:
        - job_name: 'otelcol'
          scrape_interval: 10s
          static_configs:
            - targets: [ '0.0.0.0:{{ conf.otelcol.qm.prometheus_port }}' ]
  hostmetrics:
    root_path: /hostfs
    scrapers:
      cpu:
      memory:

exporters:
  debug:

processors:
  batch:

extensions:
  health_check:
  pprof:
    endpoint: :1888

service:
  extensions: [pprof, health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    metrics:
      receivers: [otlp, prometheus, hostmetrics]
      processors: [batch]
      exporters: [debug]
