[Unit]
Description=QM D-Bus User Message Bus Socket
After=dbus.socket
RequiresMountsFor=/run

[Socket]
ListenStream={{ conf.xdg.dbus.session_bus_path }}
SocketMode=0775
DirectoryMode=0700
SocketUser={{ conf.xdg.user.name }}
SocketGroup={{ conf.xdg.user.group }}
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
