#!/bin/bash

PAYLOAD_LINE=$(awk '/^__PAYLOAD_BEGINS__/ { print NR + 1; exit 0; }' $0)
CAT=$(command -v bat &> /dev/null && echo "bat" || echo "cat")
VALIDATOR_KEY="${VALIDATOR_KEY:={{ conf.validator.public_key_path }}}"

# Helpers
payload_tarball() {
  tail -n +${PAYLOAD_LINE} $0
}

{% set bundle_tarball = item.name ~ '-' ~ item.version ~ '.tar.gz' %}
{% set bundle_sig = bundle_tarball ~ '.sig' %}
signature_tarball() {
  echo -n "{{ lookup('ansible.builtin.file', (local_apps_dir if build.is_remote else build_dir ~ '/' ~ item.tarball_path ~ '.sig'), rstrip=False) | b64encode }}" | base64 --decode
}

create_tmp_dir() {
    TMP_DIR=$(mktemp -d)
    if [[ ! "$TMP_DIR" || ! -d "$TMP_DIR" ]]; then
        echo "Could not create temp dir"
        exit 1
    fi
    echo "${TMP_DIR}"
}

# Function to display general usage
usage() {
    CMD=`basename $0`
    echo "Usage: $CMD {subcommand} [OPTIONS] [ARGS]"
    echo ""
    echo "Subcommands:"
    echo "  install       - Install the bundled application"
    echo "  uninstall     - Uninstall the bundled application"
    echo "  verify        - Validate the application payload and its content"
    echo "  extract       - Extract bundle payload from the application"
    echo "  list          - List files in the bundle application"
    echo "  cat           - Show a file from the bundle"
    echo "  info          - Display information about the bundle"
    echo ""
    echo "<subcommand> --help to get more details on a subcommand"
    exit 1
}

# Function to display help for each subcommand
subcommand_help() {
    case $1 in
        install)
            echo "Usage: $0 install [--verbose]"
            echo "Options:"
            echo "  --verbose      Display detailed output"
            ;;
        uninstall)
            echo "Usage: $0 uninstall [--verbose]"
            echo "Options:"
            echo "  --verbose      Display detailed output"
            ;;
        verify)
            echo "Usage: $0 verify"
            ;;
        extract)
            echo "Usage: $0 extract"
            ;;
        list)
            echo "Usage: $0 list [--verbose]"
            echo "Options:"
            echo "  --verbose      Display detailed output"
            ;;
        cat)
            echo "Usage: $0 cat FILE"
            ;;
        info)
            echo "Usage: $0 info"
            ;;
        *)
            usage
            ;;
    esac
    exit 0
}

# Function to handle each subcommand
handle_install() {
    VERBOSE=false
    while [ "$1" != "" ]; do
        case $1 in
            --verbose ) VERBOSE=true;;
            --help ) subcommand_help install;;
            * ) usage;;
        esac
        shift
    done
    set -e
    if $VERBOSE; then set -x; else unset VERBOSE; fi

    # Validate the transaction and its content
    handle_verify

    echo "# Copy {{ item.name }} quadlet files"
    cp -a /var/apps/{{ item.name }}/{{ item.version }}/etc/. /var/quadlets/

    echo "# Install the files in the non-persistent directory"
    validator ${VERBOSE:+-v} install --config /etc/validator/validator.conf

    echo "# Reload {{ item.name }} services"
    systemctl daemon-reload
    podman exec -it qm bash -c "systemctl daemon-reload" 2> /dev/null || true
{% for container in item.containers %}
    echo "# Restart service {{ container.id }}"
{% if container.layer is defined and container.layer == 'qm' %}
    podman exec -it qm bash -c "systemctl restart {{ container.id }}"
{% else %}
    systemctl restart {{ container.id }}
{% endif %}
{% endfor %}
}

handle_uninstall() {
    VERBOSE=false
    FORCE=false
    while [ "$1" != "" ]; do
        case $1 in
            --verbose ) VERBOSE=true;;
            --force ) FORCE=true;;
            --help ) subcommand_help uninstall;;
            * ) usage;;
        esac
        shift
    done
    set -e
    if $VERBOSE; then set -x ; fi
    if [ "$FORCE" = false ]; then unset FORCE; fi

{% for container in item.containers %}
{% set quadlet_path = (container.quadlet_file | split("/"))[6:] | join("/") %}
    echo "# Deactivate service {{ container.id }}"
{% if container.layer is defined and container.layer == 'qm' %}
    podman exec -it qm bash -c "systemctl stop {{ container.id }}"
{% else %}
    systemctl stop {{ container.id }}
{% endif %}
    echo "# Remove {{ container.id }} quadlet file"
    rm ${FORCE:+-f} /{{ quadlet_path }}
{% endfor %}
    if [ -d "/var/apps/{{ item.name }}/{{ item.version }}" ]; then
        echo "# Remove {{ item.name }}-{{ item.version }} ASIL storage"
        rm -r${FORCE:+f} "/var/apps/{{ item.name }}/{{ item.version }}"
    fi
    if [ -d "/var/qm/apps/{{ item.name }}/{{ item.version }}" ]; then
        echo "# Remove {{ item.name }}-{{ item.version }} QM storage"
        rm -r${FORCE:+f} "/var/qm/apps/{{ item.name }}/{{ item.version }}"
    fi
    echo "# Remove {{ item.name }} services"
    systemctl daemon-reload
    podman exec -it qm bash -c "systemctl daemon-reload" 2> /dev/null || true
}

handle_verify() {
    VERBOSE=false
    while [ "$1" != "" ]; do
        case $1 in
            --verbose ) VERBOSE=true;;
            --help ) subcommand_help verify;;
            * ) usage;;
        esac
        shift
    done
    set -e
    if $VERBOSE; then set -x; else unset VERBOSE; fi

    WORK_DIR=$(create_tmp_dir)
    trap 'rm -rf -- "$WORK_DIR"' EXIT

    echo "# Extract {{ item.name }}'s payload"
    handle_extract && mv $0.payload.tgz "${WORK_DIR}/{{ bundle_tarball }}"
    signature_tarball > "${WORK_DIR}/{{ bundle_sig }}"
    echo "# Validate {{ item.name }}'s transaction"
    validator ${VERBOSE:+-v} validate --key "$VALIDATOR_KEY" "${WORK_DIR}/{{ bundle_tarball }}"
    tar -xzf "${WORK_DIR}/{{ bundle_tarball }}" --directory /
    echo "# Set SELinux labels for the containers storage"
    chcon -t container_var_lib_t "/var/apps/{{ item.name }}/{{ item.version }}/containers/storage/" 2> /dev/null || true
    for file in `find "/var/apps/{{ item.name }}/{{ item.version }}/containers/storage/" -type f`; do chcon -t container_file_t $file; done 2> /dev/null || true
    chcon -t qm_container_var_lib_t "/var/qm/apps/{{ item.name }}/{{ item.version }}/containers/storage/" 2> /dev/null || true
    for file in `find "/var/qm/apps/{{ item.name }}/{{ item.version }}/containers/storage/" -type f`; do chcon -t qm_container_file_t $file; done 2> /dev/null || true
    # Open the transaction and validate its content
{% for container in item.containers %}
{% set quadlet_path = (container.quadlet_file | split("/"))[2:] | join("/") %}
{% set relative_path = (quadlet_path | split("/"))[:5] | join("/") %}
    echo "# Validating {{ quadlet_path | basename }}"
    validator ${VERBOSE:+-v} validate \
        --key "$VALIDATOR_KEY" \
        --relative-to /{{ relative_path }} \
        /{{ quadlet_path }}
{% endfor %}
    echo "# Success: {{ item.name }} has been validated"
}

handle_extract() {
    payload_tarball > $0.payload.tgz
    echo "Payload extracted: $0.payload.tgz"
}

handle_list() {
    VERBOSE=false
    while [ "$1" != "" ]; do
        case $1 in
            --verbose ) VERBOSE=true;;
            --help ) subcommand_help list;;
            * ) usage;;
        esac
        shift
    done
    set -e

    if $VERBOSE; then
      payload_tarball | tar -tvzp
    else
      payload_tarball | tar -tzp | sort
    fi
}

handle_cat() {
  TEMP_DIR=$(create_tmp_dir)
  trap 'rm -rf -- "$TEMP_DIR"' EXIT
  payload_tarball | tar -xzOf - $1 > $TEMP_DIR/$(basename $1)
  $CAT $TEMP_DIR/$(basename $1)
}

handle_info() {
    if [ "$1" == "--help" ]; then
        subcommand_help info
    fi
    echo "{{ item.info }}"
}

# Main script logic
if [ "$#" -lt 1 ]; then
    usage
fi

SUBCOMMAND=$1
shift

case $SUBCOMMAND in
    install) handle_install "$@";;
    uninstall) handle_uninstall "$@";;
    verify) handle_verify "$@";;
    extract) handle_extract "$@";;
    list) handle_list "$@";;
    cat) handle_cat "$@";;
    info) handle_info "$@";;
    * ) usage;;
esac

exit 0
__PAYLOAD_BEGINS__
