#!/bin/bash
export PID="$BASHPID"

while true; do
  for session in $(loginctl list-sessions --no-legend | awk '{ print $1 }'); do
    if [ "$(loginctl show-session --value -p Type ${session})" != "wayland" ]; then
        continue
    fi

    if [ "$(loginctl show-session --value -p Class ${session})" != "user" ]; then
        continue
    fi

    if [ "$(loginctl show-session --value -p Remote ${session})" != "no" ]; then
        continue
    fi

    if [ "$(loginctl show-session --value -p TTY ${session})" != "{{ conf.wayland.session.tty }}" ]; then
        continue
    fi

    if [ "$(loginctl show-session --value -p Seat ${session})" != "{{ conf.wayland.session.seat }}" ]; then
        continue
    fi

    if [ "$(loginctl show-session --value -p State ${session})" == "closing" ]; then
        continue
    fi

    if [ "$(loginctl show-session --value -p State ${session})" == "online" ]; then
        loginctl activate "${session}"
        continue
    fi

    if [ "$(loginctl show-session --value -p State ${session})" == "active" ]; then
      systemd-notify --ready --pid="$PID"

      # The wayland session needs to remain active as systemd-logind requirement
      sleep infinity
    fi
  done
done
