[storage]
driver = "overlay"
{% if item.app_id is undefined %}
runroot = "{{ current_local_containers_dir }}/run"
graphroot = "{{ current_local_containers_dir }}/storage"
rootless_storage_path = "{{ current_local_containers_dir }}/storage"
{% else %}
runroot = "{{ current_apps_containers_dir }}/{{ item.app_id }}/containers/run"
graphroot = "{{ current_apps_containers_dir }}/{{ item.app_id }}/containers/storage"
rootless_storage_path = "{{ current_apps_containers_dir }}/{{ item.app_id }}/containers/storage"

{% if build.containers | length > 0  %}
[storage.options]
additionalimagestores = ["{{ current_local_containers_dir }}/storage"]
{% endif %}
{% endif %}
