global:
  evaluation_interval: 30s
  scrape_interval: 5s
storage:
  tsdb:
    out_of_order_time_window: 30m
scrape_configs:
- job_name: otel-collector
  static_configs:
  - targets:
    - '{{ conf.prometheus.otel_collector.address }}:{{ conf.prometheus.otel_collector.port }}'
